@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-primary:#F4F4F4;
    --bg-secondary: #1e2939;
    --font: "Open Sans", sans-serif;
    --text-color-p: ##1A1A1A;
    --text-seconday: #4F4F4F ;
}



body {
    background-color: var(--bg-primary);
    font-family: var(--font);

}

section {
    margin-top: 100px;
}



ul {
    list-style: none;
}



button {
    padding: 2px;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    background-color: var(--bg-secondary);
    color: #fff;
    transition: background-color 1s ease ;
    cursor: pointer;
}


button:hover {
    background-color: rgb(199, 218, 224);
 

}


.menu-mobile {
    display: none;
}